<link rel="stylesheet" href="{{ 'pdpHero.css' | asset_url }}">

<style>
  .section-{{ section.id }} {
    --pdpHero-bg-color: {{ section.settings.bg_color }};
  }
</style>

<div class="pdpHero section-{{ section.id }}" data-inventory-quantity="{{ product.variants.first.inventory_quantity }}">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'title' %}
        {% comment %} Just for example using snippets {% endcomment %}
        {% render 'pdpHeroTitle' title: product.title
          , blockSettings: block.settings %}
      {% when 'price' %}
        <p class="pdpHeroPrice">{{ product.price | money }}</p>
      {% when 'stock_status' %}
        <p class="pdpHeroStockStatus">
          {% if product.available %}
            In Stock
          {% else %}
            Out of Stock
          {% endif %}
        </p>
      {% when 'button' %}
        {% if product.available %}
          <button id="pdpHeroBtn" class="pdpHeroBtn">Buy Now</button>
        {% else %}
          <button class="outOfStockBtn pdpHeroBtn pdpHeroBtnOutOfStock">Out of Stock - Notify Me</button>
        {% endif %}
    {% endcase %}
  {% endfor %}
</div>

<script src="{{ 'pdpHero.js' | asset_url }}" defer></script>

{% schema %}
  {
    "name": "PDP Hero",
    "settings": [
      {
        "type": "header",
        "content": "General Settings"
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#ffffff"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Title",
        "settings": [
          {
            "type": "font_picker",
            "id": "font-family",
            "label": "Title font",
            "default": "nunito_n4"
          }, {
            "type": "range",
            "id": "font-weight",
            "label": "Title font weight",
            "min": 400,
            "max": 900,
            "step": 100,
            "default": 700
          }, {
            "type": "range",
            "id": "font-size-mobile",
            "label": "Title font size mobile (px)",
            "min": 0,
            "max": 60,
            "step": 1,
            "default": 30
          }, {
            "type": "range",
            "id": "font-size-desktop",
            "label": "Title font size desktop (px)",
            "min": 0,
            "max": 60,
            "step": 1,
            "default": 40
          }
        ]
      }, {
        "type": "price",
        "name": "Price"
      }, {
        "type": "stock_status",
        "name": "Stock Status"
      }, {
        "type": "button",
        "name": "Button"
      }
    ],
    "presets": [
      {
        "name": "PDP Hero",
        "blocks": [
          {
            "type": "title"
          }, {
            "type": "price"
          }, {
            "type": "stock_status"
          }, {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}