<link rel="stylesheet" href="{{ 'pdpHero.css' | asset_url }}">


<style>


  .section-{{ section.id }} {


  ;


  /* 
    --asttero-faq-1-bg-color: {{ section.settings.bg_color }}; */


}

</style>


<div class="pdpHero section-{{ section.id }}" data-product-id="{{ product.id }}">

  <h1 class="product-title">{{ product.title }}</h1>
  <p class="product-price">{{ product.price | money }}</p>
  <div id="buy-button-container"></div>

  test
</div>


<script id="ProductJson-{{ product.id }}" type="application/json">
  {{ product | json }}
</script>
<script src="{{ 'pdpHero.js' | asset_url }}" defer></script>


{% schema %}
  {
    "name": "Asttero - Faq #1",
    "settings": [
      {
        "type": "header",
        "content": "General Settings"
      }, {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#ffffff"
      }
    ]
  }
{% endschema %}